* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.hero {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(stage.jpg.webp);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4em;
    padding-left: 6em;
    padding-right: 6em;
    /* border: 5px solid blue; */
    align-items: flex-end;
    position: fixed;
    width: 100%;
    background-color:  rgba(177,195,129, 0.8);
}
.logo {
    color: #FFF7D4;
    font-size: 2.5em;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 2em 2em;
}
nav ul li a {
    color: #EEC759;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #9BB8CD;
}
section {
    padding-top: 6em;
    padding-bottom: 6em;
    padding-left: 6em;
    padding-right: 6em;
    font-size: larger;
}
#testimonials {
    background-color: #9BB8CD;
}
#youtubelink {
    margin-top: 6em;
    margin-bottom: 6em;
    display: flex;
    justify-content: space-between;
    background-color: #9BB8CD;
}