* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.index-hero {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(stage.jpg.webp);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4em;
    padding-left: 6em;
    padding-right: 6em;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    color: #EEC759;
    font-size: 3vw;
    text-shadow: 0 0 20px #9BB8CD;
    text-decoration: none;
}

.logo:hover {
    color: #9BB8CD;
    transition: 0.5s;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 2em 2em;
    width: 10vw;
}

nav ul li a {
    color: #EEC759;
    text-decoration: none;
    font-weight: bold;
    background-color: #9BB8CD;
    padding: 8px;
    border-radius: 8px;
}

nav ul li a:hover {
    color: #2782c8;
    box-shadow: 4px 4px 8px black;
    /* font-size: 1.01em; */
    transition: 0.5s;
}

section {
    padding-top: 6em;
    padding-bottom: 6em;
    padding-left: 6em;
    padding-right: 6em;
    font-size: larger;
}

#youtubelink {
    margin-top: 6em;
    margin-bottom: 6em;
    display: flex;
    justify-content: space-between;
    background-color: #9bb8cd3f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

iframe {
    padding: 10px;
}

#profile {
    display: flex;
}

.profile-box {
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: larger;
}

.profile-box p {
    margin-top: 2em;
    line-height: 3em;
    word-spacing: normal;
}

#mark-profile {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#testimonials {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.hero {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(stage.jpg.webp);
    background-size: cover;
    background-position: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    line-height: 2em;
}

#about-image {
    width: 80%;
    border-radius: 20px;
}

.artist {
    letter-spacing: 1.5px;
}

.intro h2 {
    padding: 30px;
}

.container {
    max-width: 40vw;
    margin: 40px auto;
    border-radius: 8px;
    background-color: #9BB8CD;
}

.container h2 {
    padding: 10px;
}

.form {
    margin: 1em;
}

.form label {
    display: block;
    font-size: 1em;
    font-weight: bold;
}

.form input,
.form textarea {
    border-radius: 5px;
    width: 100%;
}

.form input {
    height: 3em;
}

.form textarea {
    height: 6em;
}

.form button {
    padding: 5px;
    margin: 10px;
    height: 3em;
    width: 7em;
    background-color: #B1C381;
    color: #2782c8;
    border-radius: 1em;
}

.form button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 8px black;
    background-color: #b1c3819b;
    transition: 0.5s;
}

caption {
    font-size: 2em;
    font-weight: bolder;
}

table {
    margin: auto;
    width: 90%;
}


th {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1.5em;
    background-color: #9bb8cd3c;
    border-radius: 20px 20px 5px 5px;
    color: #2782c8;
    width: auto;
}

td {
    font-size: 1em;
    padding: 2em;
    border-bottom: 2px solid #2782c81a;
}

td button a {
    text-decoration: none;
    color: #2782c8;
}

td button {
    background-color: #B1C381;
    border-radius: 5px;
    padding: 5px;
    border: 2px;
}

td button:hover {
    background-color: #b1c3819b;
    box-shadow: 5px 5px 10px;
    transition: 0.5s;
}

footer {
    background-color: #9BB8CD;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media a {
    color: #2782c8;
    background-color: antiquewhite;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-top: 2em;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-nav a {
    color: antiquewhite;
    display: inline-block;
}

.footer-nav li a {
    color: #2782c8;
}

.social-media a,
.footer-nav a {
    text-decoration: none;
    size: 2em;
    padding: 2em;
}

.footer-nav ul {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

@media (max-width: 1280px) {
    #profile {
        display: flex;
        flex-direction: column;
    }

    .profile-box {
        margin: auto;
    }

    .profile-box p {
        margin-top: 1em;
        line-height: 1.5em;
    }

    #date-column {
        padding: 0px;
        width: 150px;
    }

    th {
        font-size: small;
        padding: 1em;
    }

    td {
        font-size: smaller;
        padding: 1em;
    }
}

@media (max-width 620px) {
    .logo {
        color: #EEC759;
        font-size: 1vw;
        text-shadow: 0 0 20px #9BB8CD;
        text-decoration: none;
    }

    nav ul li a {
        font-size: 10px;
        padding: 3px;
        border-radius: 5px;
    }
}
