* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.index-hero {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(stage.jpg.webp);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4em;
    padding-left: 6em;
    padding-right: 6em;
    /* border: 5px solid blue; */
    align-items: center;
    position: fixed;
    width: 100%;
    /* background-color:  rgba(177,195,129, 0.8); */
}

#nav_smaller {
    display: flex;

}

.logo {
    color: #EEC759;
    font-size: 3vw;
    text-shadow: 0 0 20px #9BB8CD;
    text-decoration: none;
}

.logo:hover {
    color: #9BB8CD;
    transition: 0.5s;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 2em 2em;
    width: 10vw;
}

nav ul li a {
    color: #EEC759;
    text-decoration: none;
    font-weight: bold;
    background-color: #9BB8CD;
    padding: 8px;
    border-radius: 8px;
}

nav ul li a:hover {
    color: #2782c8;
    box-shadow: 4px 4px 8px black;
    font-size: 1.01em;
    transition: 0.5s;
}

section {
    padding-top: 6em;
    padding-bottom: 6em;
    padding-left: 6em;
    padding-right: 6em;
    font-size: larger;
}

/* #testimonials {
    background-color: #9BB8CD;
} */
#youtubelink {
    margin-top: 6em;
    margin-bottom: 6em;
    display: flex;
    justify-content: space-between;
    background-color: #9bb8cd3f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

iframe {
    padding: 10px;
}

#profile {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* flex-wrap: nowrap; */
    /* align-items: center; */
    /* object-fit: fill;  */

    /* border: 5px solid blue; */
}

.profile-box {
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: larger;
    /* align-items: center; */
    /* align-content: center; */
    /* flex-wrap: nowrap; */
    /* object-fit: contain; */
    /* border: 5px solid blue; */
}

#mark-profile {
    /* object-fit: contain; */
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.text {
    /* border: 5px solid blue; */
    /* flex: 1; */
    /* Make the picture stay on the left of the text and fills the side of the page until the screen size goes below 900px. Add a media querie for the nav bar to change to hamburgeer icon at 1200px */
    float: right;
    padding: 5px;
    display: inline;
    width: 45%;
}

#testimonials {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.hero {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(stage.jpg.webp);
    background-size: cover;
    background-position: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid green; */

}

#about-image {
    width: 80%;
    /* border: 5px solid blue; */
    border-radius: 20px;

}

.artist {
    /* background-color: lightgrey; */
    letter-spacing: 1.5px;
    
    /* border: 5px solid red; */

}

.intro h2 {
    padding: 30px;
}

.container {
    max-width: 30vw;
    margin: 40px auto;
    border-radius: 8px;
    background-color: #9BB8CD;
}

.container h2 {
    padding: 10px;
}

.form {
    margin: 20px;
    padding: 10px;
}

.form label {
    display: block;
    font-size: 1em;
    font-weight: bold;
}

.form input, .form textarea {
    border-radius: 5px;
    width: 100%;
}

.form textarea {
    height: 5em;
}

/* @media (max-width: 1000px) {
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }

    ul {
        display: flex;
    }

    h2,
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
} */